language: cpp
sudo: required
dist: trusty
compiler:
- gcc
- clang
addons:
  apt:
    sources:
      # Both needed for clang 3.7
      - llvm-toolchain-precise-3.7
      - ubuntu-toolchain-r-test
    packages:
    - clang-3.7
    - libcrypto++-dev
    - libfuse-dev
    - debootstrap
    - qemu-user-static
before_install:
- mkdir -p /opt/trusty/usr/bin
- cp /usr/bin/qemu-arm-static /opt/trusty/usr/bin
- mkdir -p /opt/trusty/opt/cryfs
- cp -R . /opt/trusty/opt/cryfs
- sudo debootstrap --variant=buildd --arch armhf trusty /opt/trusty http://ports.ubuntu.com
- sudo mount -o bind /dev  trusty/dev
- sudo mount -o bind /proc trusty/proc
- sudo mount -o bind /sys  trusty/sys
- sudo cp apt.sources /opt/trusty/etc/apt/sources.list
install:
- sudo chroot /opt/trusty
- echo "deb http://apt.llvm.org/precise/ llvm-toolchain-precise-3.7 main" | sudo tee -a /etc/apt/sources.list > /dev/null
- apt-add-repository -y "ppa:ubuntu-toolchain-r/test"
- apt-get update
- apt-get install -y clang-3.7 libcrypto++-dev libfuse-dev
- cd /opt/cryfs
# Use new clang
- export CXX="clang++-3.7" CC="clang-3.7"
# Detect number of CPU cores
- export NUMCORES=`grep -c ^processor /proc/cpuinfo` && if [ ! -n "$NUMCORES" ]; then export NUMCORES=`sysctl -n hw.ncpu`; fi
- echo Using $NUMCORES cores
# Install dependencies
- ./travis.install_boost.sh
# Install run_with_fuse.sh
- mkdir cmake
- cd cmake
- wget https://raw.githubusercontent.com/smessmer/travis-utils/master/run_with_fuse.sh
- chmod +x run_with_fuse.sh
- cmake --version
#  Use /dev/urandom when /dev/random is accessed, because travis doesn't have enough entropy
- sudo cp -a /dev/urandom /dev/random
script:
- cmake .. -DBUILD_TESTING=on -DCMAKE_BUILD_TYPE=Debug
- make -j$NUMCORES
- ./test/gitversion/gitversion-test
- ./test/cpp-utils/cpp-utils-test
# TODO Also run on osx once fixed
- ./run_with_fuse.sh ./test/fspp/fspp-test || exit 1
- ./test/parallelaccessstore/parallelaccessstore-test
- ./test/blockstore/blockstore-test
- ./test/blobstore/blobstore-test
# TODO Also run on osx once fixed
- ./test/cryfs/cryfs-test || exit 1
- ./test/cryfs-cli/cryfs-cli-test || exit 1
after_script:
- rm run_with_fuse.sh
